$background: #93acd8;
$font-color: #000;
$blue-dark: #1d2f50;
$blue-med: #5980c3;
$blue-light: #cdd8ed;

@import url(/fonts/Montserrat-Regular.ttf);
$font: 'Montserrat', sans-serif;

body {
  background: $background;
  color: $font-color;
}

.row {
  width: 100%;
}

.title-container {
  margin-bottom: 25px;
  margin-left: 0;
  text-align: center;

  .title {
    font-family: $font;
    margin-right: 15px;
    text-align: left;
    color: $blue-dark;
  }
}

.select-country {
  width: 100%;
  height: 100%;
  background: white;
}


h2 {
  color: $blue-dark;
}

.country-name {
  display: inline-block;
}

.country-flag {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 12px;
}

.main-container {
  width: 800px;
  position: absolute;
  border-radius: 10px;
  padding: 50px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  background: white;
  box-shadow: 0 12px 10px -6px $blue-dark;
}

.currency-input {
  width: 70%;
  margin-right: 5px;
  font-size: 20px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #CCC;
  padding-left: 10px;
}